body {
    background-color: black;
}
p {
    color: dimgray;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    color: dimgray;
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    color: dimgray;
    font-family: 'Courier New', Courier, monospace;
}
h3 {
    color: dimgray;
    font-family: 'Courier New', Courier, monospace;
}
a {
    color: #3d6648;
}