body {
  background-color: black;
}
h1 {
text-align:center;
  color: dimgrey;
}
h2 {
text-align:center;
  color: dimgrey:
}
p {
text-align:center;
  color: dimgrey;
}
a {
target=_blank
title="GitHub page. (i have no idea what to put here)"
}
