// HEY QUANDALE DINGLE HERE 
// ok actually how the hell did you find this
// please dont be my principal finding out im a coding genus
// ok i just realized how cringe this is but idgaf hehe
body {
background-image: url('background.jpeg');
}
p {
color: dimgrey;
  font-family: courier new;
}
h1 {
color: dimgrey;
  font-family: courier new;
}
h2 {
color: dimgrey;
  font-family: courier new;
}
h3 {
color: dimgrey;
  font-family: courier new;
}
