body {
background-image: black;
}
p {
color: dimgrey;
  font-family: courier new;
}
h1 {
color: dimgrey;
  font-family: courier new;
}
h2 {
color: dimgrey;
  font-family: courier new;
}
h3 {
color: dimgrey;
  font-family: courier new;
}
